<!-- <div class="jumbotron">
   <div class="container">
   
   </div>
</div>
<div class ="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">About US</h1>
  </div>
</div>
 -->


<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Us</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
		<div class="col-sm-4">
		<img class="img-responsive" src="/assets/about-us.jpg" alt="About Us">
		</div>
		<div class="col-sm-8">
				<h2>A new way for you to trade bitcoin</h2>
				<p>
					Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id. Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
				</p>
				<p>
					Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
				</p>						
				<h3>Why Choose Coin Compass?</h3>
				<p>
					Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
					Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
				</p>
				
				
			            
  </div>
</div>
</div>
</div>
		

<hr>		

<div class="section">
	<div class="container">
		<div class="row">
			<!-- Team Member -->
			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<!-- Team Member Photo -->
					<div class="team-member-image"><img src="/assets/team/1.jpg" alt="Name Surname"></div>
					<div class="team-member-info">
						<ul>
							<!-- Team Member Info & Social Links -->
							<li class="team-member-name">
								Nicolas Freeman
								<!-- Team Member Social Links -->
								<span class="team-member-social">
									<a href="#"><i class="icon-facebook"></i></a>
									<a href="#"><i class="icon-github"></i></a>
									<a href="#"><i class="icon-tumblr"></i></a>
								</span>
							</li>
							<li>Web Developer</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team Member -->
			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-member-image"><img src="/assets/team/2.jpg" alt="Name Surname"></div>
					<div class="team-member-info">
						<ul>
							<li class="team-member-name">
								Sarah Tipton
								<span class="team-member-social">
									<a href="#"><i class="icon-facebook"></i></a>
									<a href="#"><i class="icon-dribbble"></i></a>
									<a href="#"><i class="icon-tumblr"></i></a>
								</span>
							</li>
							<li>Web Designer</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-member-image"><img src="/assets/team/3.jpg" alt="Name Surname"></div>
					<div class="team-member-info">
						<ul>
							<li class="team-member-name">
								Luca Grammont
								<span class="team-member-social">
									<a href="#"><i class="icon-facebook"></i></a>
									<a href="#"><i class="icon-dribbble"></i></a>
									<a href="#"><i class="icon-tumblr"></i></a>
								</span>
							</li>
							<li>Project Manager</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="section">
    <div class="container">
    	<div class="row">
    		<!-- Featured News -->
    		<div class="col-sm-6 featured-news">
    			<div class="header-ab-text" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">Latest Blog Posts</div>
    			
					<div class="collapse in" id="collapseExample">
	    			<div class="row">
	    				<div class="col-xs-4"><a href="#"><img src="/assets/blog/1.jpg" alt="Post Title"></a></div>
	    				<div class="col-xs-8">
	    					<div class="caption">

									<a href="blog-post.html">Lorem ipsum dolor sit amet</a>
	    			    </div>
	    			    
		    					<div class="date">14 August 2014 </div>
		    					<div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="blog-post.html">Read more...</a></div>
	    				  </div>
	    			</div>
	    			<div class="row">
	    				<div class="col-xs-4"><a href="blog-post.html"><img src="/assets/blog/2.jpg" alt="Post Title"></a></div>
	    				<div class="col-xs-8">
	    					<div class="caption"><a href="blog-post.html">Sed ut perspiciatis unde omnis</a></div>
	    					<div class="date">23 June 2014 </div>
	    					<div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="blog-post.html">Read more...</a></div>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-xs-4"><a href="blog-post.html"><img src="/assets/blog/3.jpg" alt="Post Title"></a></div>
	    				<div class="col-xs-8">
	    					<div class="caption"><a href="blog-post.html"> Neque porro quisquam est</a></div>
	    					<div class="date">21 April 2014 </div>
	    					<div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="blog-post.html">Read more...</a></div>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    		<!-- End Featured News -->
    		<!-- Latest News -->
    		<div class="col-sm-6 latest-news">
    			<div class="header-ab-text" role="button" data-toggle="collapse" href="#collapseExp" aria-expanded="false" aria-controls="collapseExp">Latest News</div>
    			<div class="collapse in" id="collapseExp">
	    			<div class="row">
	    				<div class="col-sm-12">
	    					<div class="caption"><a href="full-width.html">Donec elementum mi vitae enim fermentum lobortis.</a></div>
	    					<div class="date">16 May 2013 </div>
	    					<div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="full-width.html">Read more...</a></div>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-sm-12">
	    					<div class="caption"><a href="full-width.html">In hac habitasse platea dictumst.</a></div>
	    					<div class="date">14 May 2013 </div>
	    					<div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
	    				</div>
	    			</div>	
	    			<div class="row">
	    				<div class="col-sm-12">
    					<div class="caption"><a href="full-width.html"> Nam condimentum laoreet sagittis.</a></div>
    					<div class="date">14 May 2013 </div>
    					<div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
    				  </div>
    			  </div>
    			</div>					
    		</div>
    		<!-- End Featured News -->
    	</div>
    </div>
</div>



