@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #ffffff;
	color: #333333;
	font-family: Ariel, Helvetica, sans-serif;
	}


.navbar-default {
	background-color: #5db8c9;
  
}

.navbar-default .navbar-brand {
	
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	font-size: 30px;
	color: #FFFFFF;
    
}

.navbar-default .navbar-nav > li > a {
	
	font-family: Helvetica Neue, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}

.center {
	text-align: center;
}






	.jumbotron {
  background-image: url('https://s3.amazonaws.com/sharemykloset/bt.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:200px 0 140px 0;
  margin-bottom:70px;
  h1, {
  color: #FFFFFF;
  font-family: Helvetica Neue, Helvetica Neue, Arial, sans-serif;
  }
  }