      <!-- Footer -->
      <div class="footer">
        <div class="container">
      
          <div class="row">
        
            <div class="col-footer col-md-4 col-xs-6">
              <h3>Contact Us</h3>
              <p class="contact-us-details">
                  <b>Address:</b> 901010 Peachtree, Altlanta, GA<br/>
                  <b>Phone:</b> 404 123 5252<br/>
                  <b>Email:</b> <a href="mailto:contacus@coincompass.net">contactus@contactus.net</a>
                </p>
            </div>        
            <div class="col-footer col-md-4 col-xs-6">
              <h3>Our Social Networks</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
              <div>
                <img src="/assets/icons/facebook.png" width="32" alt="Facebook">
                <img src="/assets/icons/twitter.png" width="32" alt="Twitter">
                <img src="/assets/icons/linkedin.png" width="32" alt="LinkedIn">
              <img src="/assets/icons/rss.png" width="32" alt="RSS Feed">
            </div>
            </div>
            <div class="col-footer col-md-4 col-xs-6">
              <h3>About Our Company</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-copyright">&copy; 2016 <a>Coin Compass</a></div>
            </div>
          </div>
        </div>
      </div>

